{% extends "master.html.twig" %}

{% block title %}Add successful{% endblock %}

{% block content %}
    
<p>Image has {% if isEditing %}updated{% else %}added{% endif %}  succesfully,<a href="/photo/list">Click to continue</a>.</p>

{% endblock %}

