{#{% extends "master.html.twig" %}
{% block title %}Photo {% if isEditing %}edit{% else %}add{% endif %}{% endblock %}

{% block content %}
    {% if errorList %}
        <ul>
            {% for error in errorList %}
                <li>{{error}}</li>
                {% endfor %}
        </ul>
    {% endif %}

    <form method="post" enctype="multipart/form-data">
        Image Title: <input type="text" name="imageTitle" value="{{v.imageTitle}}"><br> 
        
        Image: <input type="file" name="userImage" ><br>
        
        <input type="submit" value="{% if isEditing %}updat{% else %}Add{% endif %}  photo">
    </form>

{% endblock %}#}

<form method="POST" action="/photo/add" enctype="multipart/form-data">
            <label>Select file to upload:</label>
            <input type="file" name="newfile">
            <button type="submit">Upload</button>
        </form>