{% extends "master.html.twig" %}
{% block title %}Confirm delete{% endblock %}
{% block content %}
    <p><br>Are you sure you want to delete this property?</b></p>
    <form action="/chat/All" style="display:inline;">            
        <input type="submit" value="Candel">
    </form>
    <form method="post" action="/chat/delete/{{message.chatId}}" style="display:inline;">            
        <input type="hidden" name="confirmed" value="true">
        <input type="submit" value="Delete">
    </form>    
{% endblock %}

