{% extends "master.html.twig" %}

{% block title %}News {% if isEditing %}update{% else %}add{% endif %}{% endblock %}

{% block content %}    
    <p>News {% if isEditing %}updated{% else %}added{% endif %}.
        <a href="/admin/news/list">Click to continue</a>.</p>
{% endblock %}