{# empty Twig template #}
{% extends "master.html.twig" %}

{% block title %}News delete{% endblock %}

{% block content %}    
    <p>news deleted. <a href="/admin/news/list">Click to continue</a>.</p>
{% endblock %}
