{% extends "master.html.twig" %}

{% block title %}News {% if isEditing %}edit{% else %}add{% endif %}{% endblock %}

{% block content %}
    {% if errorList %}
        <ul>
            {% for error in errorList %}
                <li>{{error}}</li>
                {% endfor %}
        </ul>
    {% endif %}

    <form method="post">
        Title: <input type="text" name="title" value="{{v.title}}"><br>
        News body: <textarea name="newsBody">{{v.newsBody}}</textarea><br>
        Date: <input type="date" name="newsDate" value="{{v.newsDate}}"><br>        
        <input type="submit" value="{% if isEditing %}Update{% else %}Add{% endif %} news">
    </form>

{% endblock %}
