{% extends "master.html.twig" %}

{% block title %}Login{% endblock %}
{% block headextra %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="assets/fonts/font-awesome.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-rtl.min.css" type="text/css">
    <link rel="stylesheet" href="assets/css/bootstrap-select.min.css" type="text/css">
    <link rel="stylesheet" href="assets/css/owl.carousel.css" type="text/css">
    <link rel="stylesheet" href="assets/css/style.css" type="text/css">
    <link rel="stylesheet" href="assets/css/rtl.css" type="text/css">
    <link rel="stylesheet" href="assets/css/selectize.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

{%endblock %}
{% block content %}
<body>

{% if error %}
    <p>Login invalid. Try again or <a href="/user/register">register</a>.</p>
{% endif %}

	<div id="modal-login" class="modal" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header text-center">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h2>Sign in to your account:</h2>
					<span>Welcome to the home!</span>
				</div>
				<form method="post">>
					<div class="modal-body">
						<div class="form-group">
							<input type="email" name="email" placeholder="Email:" required>
							<span class="fa fa-at"></span>
						</div>				
						<div class="form-group">
							<input type="password" name="pass" placeholder="Password:" required>
							<span class="fa fa-lock"></span>
						</div>
						<div class="form-group social-login clearfix">
							<a href="https://www.facebook.com" class="col-md-6 fb-login" target="blank"><span class="fa fa-facebook-square"></span>Facebook login</a>
							<a href="https://plus.google.com" class="col-md-6 google-login" target="blank"><span class="fa fa-google-plus-square"></span>Google login</a>
						</div>
					</div>
					<div class="modal-footer">
						<div class="form-group clearfix">
							<span>Don't have an account? <a href="/user/register">Sign Up</a></span>
							<span>Forgot your password? <a href="#">Restore</a></span>
							<button type="submit" class="btn btn-primary">Login</button>					
						</div>
					</div>		
				</form>
			</div>
		</div>
	</div>
</body>

{% endblock content %}
